<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Eat Da Burger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/assets/css/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/3d80921411.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body class='purple darken-4'>

    {{{body}}}
    <script src='/assets/js/index.js'></script>
</body>

</html>